.mrv {
  &__container {
    display: block;
    width: 1360px;
    margin: 0 auto;
    padding: 0 56px;
    z-index: -2;

    @media(max-width: 1024px){
        width: 100%;
    }

    @media(max-width: 680px){
      width: 100%;
      padding: 0 10px;
    }

  }
}