.mrv {
  &__header {
    * {
      // Reset default styles
      margin: 0;
      padding: 0;
    }

    &__img {
      width: 100%;

      @media(max-width: 680px) {
        display: none;
      }
    }
  }
}