.modal {
  .modal-dialog {
    min-width: 100vw;
    height: 100% !important;
    position: absolute;
    top: -30px;
    bottom: 0;
    
    .modal-content {
      border-radius: 0 !important;
      border: none;
      background-color: rgba($color: #fff, $alpha: .9);
      padding: 56px 37px;
      height: 100%;
      .modal-body {
        .mrv-logo{
          margin-bottom: 265px;
          @media(max-width:680px){
            margin-bottom: 35%;
          }
        }

        div{
          margin: 0 auto ;
          width: 50%;
          @media(max-width:680px){
            margin: 0;
          }
        }
        .mrv__button{
          position: absolute;
          bottom: 32px;
          right: 32px;
          @media(max-width:680px){
            left: 40%;
            right: auto;
          }
        }
      }
      @media(max-width:680px){
        padding: 20px 10px;
      }
    }
    @media(max-width:680px){
      left: -10px;
      height: 53% !important;
    }

  }
}