@import './components/hearder.scss';
@import './components/footer.scss';
@import './components/container.scss';
@import './components/hero-banner.scss';
@import './components/breadcrumb.scss';
@import './components/col-6-section.scss';
@import './components/accordion.scss';
@import './components/vacancy-form.scss';
@import './components/modal.scss';

// Import fonts
@font-face {
  font-family: "Averta";
  font-style: bold;
  font-weight: 700;
  src: url(../fonts/AvertaStd-Bold.woff) format('woff'),
    url(../fonts/AvertaStd-Bold.woff2) format('woff2');
}

@font-face {
  font-family: "Averta";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/AvertaStd-Regular.woff) format('woff'),
    url(../fonts/AvertaStd-Regular.woff2) format('woff2');
}

// Colors
$mrv-white: #fff;
$mrv-green: #006B3F;
$mrv-light-green: #079D56;
$mrv-gray: #5D615F;
$mrv-text: #242625;

body {
  font-family: Averta;
  
  p {
    font-weight: 400;
    font-size: 16px;
  }
  label, select{
    font-family: Averta;
    font-size: 16px;
  }
}

.mrv{
  // Texts styles
  &__container {
    color: $mrv-text;
  }

  &__title {
    &__h1 {
      font-family: "Averta";
      font-weight: 700;
      font-size: 40px;

      @media(max-width: 680px) {
        font-size: 25px;
      }
    }
  }
  // Colors 
  &__text{
    &__white{
      color: $mrv-white;
    }
    &__green{
      color: $mrv-green;
    }
  }

  // Buttons
  &__button{
    &.green{
      background-color: $mrv-green;
      padding: 16px;
      border-radius: 8px;
      border: none;

      a{
        color: $mrv-white;
        &:hover{
          text-decoration: none;
        }
      }
      
      &:hover{
        background-color: $mrv-light-green;
        color: $mrv-white;
      }
    }
    &.black-link{
      color: $mrv-text;
      font-weight: 700;
      text-decoration: underline;
      &:hover{
        color: $mrv-gray;
      }
    }
    &.close{
      background-color: $mrv-green;
      padding: 12px;
      border-radius: 30px;
      
      img{
        width: 24px;
        height: 24px;
      }
    }
  }

  // Display
  &__desktop{
    @media(max-width: 680px){
      display: none;
    }
  }
  &__mobile{
    @media(min-width: 681px){
      display: none;
    }
  }

}